# Custom ignores

# temporary ignoring file #
################################


# DataSets - html files, excel files, etc.. #
################################
/DataSets/RawData/

!/DataSets/RawData/ShiftGuess.xlsx
!/DataSets/RawData/eventTimeData/

# personal folder #
################################
/Code_old/
/DataSets_old/
/DataSets/old/

#Should add tex file
! *.tex