# Custom ignores

# temporary ignoring file #
################################


# DataSets - html files, excel files, etc.. #
################################
/DataSets/RawData/elogData/
/DataSets/RawData/elogData_all/
/DataSets/RawData/FailedElogData/
/DataSets/RawData/spillLog/
/DataSets/RawData/seq_LR/
/DataSets/RawData/spillLogPage/
/DataSets/RawData/ExcelFile/
/DataSets/RawData/schedule-shift/


# personal folder #
################################
/Code_old/
/DataSets_old/
/DataSets/old/

#Should add tex file
! *.tex