# LaTex/Texmaker files #
########################
*.aux
*.log
*.gz
*.bak
*.toc
*.bbl
*.blg

# Zak's backup documenation #
#  (from before using OOP)  #
#############################
#v0 #Finally deleted it
